/* div{
    color: red !important;
} */
.container{
    background-color:#041a2c ;
display: flex;
flex-direction: row;
align-items: center;
padding: 1.5rem 1rem;
margin-top: 2rem;
justify-content: center;

}
.sharebox a{
    color: white;
    border: solid rgb(255, 255, 255);
 padding: .4rem .5rem .2rem .5rem;
 margin: .5rem;
 border-radius: 100%;
 font-size: 1rem;
}
.footerEnd{
 color: white !important;
 padding-left: 1rem;
}
@media screen and (max-width:1023px) {
    .container{
        flex-direction: column;
    }
    .footerEnd{
        color: white !important;
       padding-top: 1rem;
       }
}