/* //for top container  */

.Topcontainer{
  background: url('https://demo.gecdesigns.com/demo/webs/creative-business-website-template-130819/img/hero.jpg') center/cover  no-repeat ;
  height: 33rem;
  display: flex;
  align-items: center;
  top: 0;
}


.mainrow{
  width: 30rem;
  color: white;
  box-sizing: border-box;
  margin-left: 6.2rem;
}
.mainrow h1{
  width: 29rem;
  font-size: 3.3rem;
}
.mainrow h3{
  color: rgb(255, 70, 29);
  
}
.mainrow p{
  margin: 1rem 0rem;
}
.mainrow .btn{
  color: white;
  text-decoration: none;
  padding:  .5rem ;
  margin-top: 2rem;
  font-weight: 700;
  border: solid rgb(255, 70, 29);
}
.mainrow .fa{
  background-color: rgb(255, 70, 29);
  padding: .71rem;
  color: white;
}
.mainrow .fa:hover{
  color: black;
  transition: all ease .2s;
}
.mainrow .btn:hover{
  background-color: rgb(255, 70, 29);
  transition: all ease .3s;
}



/* section for container  */

.row{
  /* border: solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.leftBox{
  width: 30%;
  margin: 7rem 0rem;
}
.leftBox p{
  text-align: left;
  margin: 2rem 0rem;
  line-height: 1.5rem;
}
.leftBox h2{
  font-size: 3rem;
  color: rgb(31, 31, 31);
}
.rightBox{
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  
}

@media screen and (max-width:1023px) {
  .Topcontainer{
      background: url('https://demo.gecdesigns.com/demo/webs/creative-business-website-template-130819/img/hero.jpg') center/cover  no-repeat ;
      height: 28rem;
      display: flex;
      align-items: center;
      top: 0;
  }
  .mainrow{
      margin-left: 5rem;
      width: 15rem;
  }
 
      .mainrow h1{
          width: 27rem;
  font-size: 3rem;
      
  }

  /* for container  */
  .row{
      flex-direction: column;
      align-items: center;
      padding: 0rem 4rem;
  }
  .leftBox{
      width: 100%;
      margin: 1rem 0rem;
      
  }
  .rightBox{
      width: 100%;
      justify-content: space-around;
  }
}
@media screen and (max-width:770px) {
  .Topcontainer{
      background: url('https://demo.gecdesigns.com/demo/webs/creative-business-website-template-130819/img/hero.jpg') center/cover  no-repeat ;
      height: 25rem;
      display: flex;
      align-items: center;
      top: 0;
  }
  .mainrow{
      margin-left: 1rem;
      width: 15rem;
  }
 
      .mainrow h1{
          width: 15rem;
          font-size: 2rem;
      
  }
}